@use "../../variables" as *;

.assignment-button{
    color:$white;
    font-family:$fontfamily-mincho;
    font-size:$fontsize-s;
    font-weight: 400;
    background-color: $black;
    position: absolute;
    width: 180px;
    height: 45px;
}