@use "../../variables" as *;
@media screen and (max-width: $container-md){

.assignment-button {
  color: $white;
  font-size: $fontsize-s;
  font-weight: 400;
  background-color: $black;
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  transition: 0.2s;
}
.assignment-button:hover{
  background-color: $orange_bistre;
}
}