@use "../../variables" as *;

.assignment-button {
  color: $white;
  font-size: $fontsize-s;
  font-weight: 400;
  background-color: $black;
  transition: 0.2s;
  @media screen and (max-width: $container-sm){
    padding: 12.5px 64px;
  }
  @media screen and (min-width: $container-sm){
    padding: 12.5px 64px;
  }
  @media screen and (min-width: $container-md) {
    padding: 17.5px 49px;
  }
  @media screen and (min-width: $container-lg) {
    padding: 17.5px 74px;
  }
   &:hover {
     background-color: $orange_bistre;
     text-decoration: none;
     color: $white;
  }
}