$color-example: #ff0000;
$fontsize-example: 16px;

$white: #ffffff;
$white_smoke: #f5f5f5;
$gray_desertStorm: #ece9e6;
$gray_gainsboro: #dddddd;
$orange_zorba: #a19283;
$orange_bistre: #442606;
$black: #000000;
$gray_nobel: #999999;
$black_50: rgba(0,0,0,0.5);


$fontsize-xs: 12px;
$fontsize-s: 14px;
$fontsize-m: 16px;
$fontsize-l: 20px;
$fontsize-xl: 36px;
$fontsize-xxl: 40px;

$container-sm: 576px;
$container-md: 768px;
$container-lg: 992px;
$container-xl: 1200px;
$container-xxl: 1400px;


$fontfamily-mincho: "Noto Serif JP",serif;
$fontfamily-gothic: "Noto Sans JP","Roboto",sans-serif;
